<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The SHOCK group has existed under many names throughout the years.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998-2008</h4>
                                    <h4 class="subheading">Optocon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Optocon was formed in early 1998 when CSIR Defencetek decided to close down its prototype optical workshop, which had operated since the early 1950's.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Ansys.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2009</h4>
                                    <h4 class="subheading">ANSYS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">South African black empowered engineering technology company Ansys (ANS) has purchased all the issued shares in Optocon Systems.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Goss Electro Optical Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Management buyout of the company, which allows the group to refocus on our core competency namely EO design services.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Summit-Place-Building-A.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2023</h4>
                                    <h4 class="subheading">Aselsan South Africa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Aselsan South Africa was established as a branch of the Turkish company in 2011 after Aselsan had acquired GEOE.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/SHOCK logo transparant.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023-</h4>
                                    <h4 class="subheading">SHOCK Electro-Optic Systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">SHOCK members splits off from the Aselsan group, to pursue market opportunities and a wider range of customers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Journey!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>