<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide full engineering services from concept to production.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/1280lwir12hfov.png" alt="">
                    </span>
                    <h4 class="service-heading">EO systems design and modeling</h4>
                    <p class="text-muted">User requirements analysis and formulation of these into engineering terms and creating EO system specifications applicable to the customer’s application.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/mech.png" alt="">
                    </span>
                    <h4 class="service-heading">Opto-Mechanical Engineering</h4>
                    <p class="text-muted">First principles lens design including detailed analysis for zoom mechanisms, stabilisation and vibration analysis</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/laser.png" alt="">
                    </span>
                    <h4 class="service-heading">Laser systems design</h4>
                    <p class="text-muted">First principles laser systems designand modeling for range finding and designation up to and including Class-4 lasers. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/electronics1.png" alt="">
                    </span>
                    <h4 class="service-heading">Electronics and Software</h4>
                    <p class="text-muted">Detailed design including electro-mechanical motion control systems, photodetector interface and front-end electronic design, video systems, image enhancement and AI / neural networks-based algorithms.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/prototyping_steps.png" alt="">
                    </span>
                    <h4 class="service-heading">Prototyping</h4>
                    <p class="text-muted">Precision optics and mechanics assembly and alignment. Environmental testing and system verification. Testing systems performance such as NETD, MTF and MRTD.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/production_support.png" alt="">
                    </span>
                    <h4 class="service-heading">Production support</h4>
                    <p class="text-muted">Low volume production at SHOCK facility. Client support with setup of volume production at client facilities. Production process and training of client personnel.</p>
                </div>
            </div>
        </div>
    </section>
